/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap%22); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed / ul[role='list'],
ol[role='list'] {
  list-style: none;
}

label,
p,
span,
input,
select,
textarea,
a,
td,
th,
strong,
i,
button,
.p-inputtext,
.p-inline-message .p-inline-message-text,
/* div {
  font-size: $fs-default;
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
} */


html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow: hidden;
  text-rendering: optimizeSpeed;
  /* //   line-height: 1.5; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  cursor: pointer;
}
